.letter-container {
	display: flex;
	flex-direction: column;
	background-color: beige;
}

.letter-container-name {
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
}

.letter-container-name::after {
	content: '';
	height: 1px;
	width: 100%;
	background-color: darkslateblue;
	position: absolute;
	bottom: -10px;
	left: 0;
}

.letter-container-employees {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 1.5em 1em;
}
