.letter-container {
	display: flex;
	flex-direction: column;
	background-color: beige;
}

.letter-container-name {
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
	--margin-block: 8px;
	margin-block: var(--margin-block);
}

.letter-container-name::after {
	content: '';
	height: 1px;
	width: 100%;
	background-color: darkslateblue;
	position: absolute;
	bottom: calc(0px - var(--margin-block));
	left: 0;
}

.letter-container-employees {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding-top: 0;
}

.row:nth-last-child(1) {
	margin-bottom: 0;
}
